<template name='register'>
    <h1 class="text-center">Enregistrement</h1>
    {{#autoForm collection="Meteor.users" id="insertUser" template="semanticUI"}}
        <fieldset>
            <legend>Informations obligatoires</legend>
            {{>afQuickField name="username" }}
            {{>afQuickField name="password" }}
            {{>afQuickField name="confirmation" }}
            {{>afQuickField name="emails.0.address" }}
        </fieldset>
        <fieldset>
            <legend>Informations facultatives</legend>
            {{>afQuickField name="profile.firstname" }}
            {{>afQuickField name="profile.lastname" }}
            {{>afQuickField name="profile.birthday" }}
            {{>afQuickField name="profile.gender" }}
            {{>afQuickField name="profile.organization" }}
            {{>afQuickField name="profile.website" }}
            {{>afQuickField name="profile.bio" }}
        </fieldset>
        <button type="submit" class="btn btn-primary">Valider</button>
    {{/autoForm}}
</template>